:root {
  --orange-color: #F1A021;
  --grey-color: #747578;
  --dark-grey: #514e4e;
  --white-color: #FFF;

}

body {
  font-family: 'Inter';

}

.d-flex {
  display: flex;
}

.container {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}

/* header css */
.logo-wrapper,
.container {
  align-items: center;

}

.fixed {
  position: fixed;
  width: 100%;
  background-color: var(--white-color);
}

.container-header {
  justify-content: space-between;
  margin: 0 auto;
  background-color: var(--white-color);

}

.header-logo {
  font-family: 'Source Sans Pro';
  color: black;
  margin-left: 8px;
}

.nav-wrapper {
  width: 525px;
  justify-content: space-between;
  align-items: center;
}

.nav-a {
  color: #00000080;
  font-size: 15px;
}

.active {
  color: var(--orange-color);
  font-weight: 600;
}

.contact-button {
  width: 116px;
  height: 43px;
  border: none;
  border-radius: 30px;
  background-color: var(--orange-color);
  color: var(--white-color);
}

/* agency css */
.dash-h {
  margin-left: 16px;
  font-size: 14px;
  color: #604E14;
}

.container-agency {
  margin: 0 auto;
  padding: 120px;
}