:root {
  --orange-color: #f1a021;
  --grey-color: #747578;
  --dark-grey: #514e4e;
  --white-color: #fff;
}

body {
  font-family: "Inter";
}

.d-flex {
  display: flex;
}

.container {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: 30px;
  background-color: var(--orange-color);
  color: var(--white-color);
}

/* header css */
.logo-wrapper,
.container {
  align-items: center;
}

.fixed {
  position: fixed;
  width: 100%;
  background-color: var(--white-color);
}

.container-header {
  justify-content: space-between;
  padding-top: 24px;
  background-color: var(--white-color);
}

.header-logo {
  font-family: "Source Sans Pro";
  color: black;
  margin-left: 8px;
}

.nav-wrapper {
  width: 525px;
  justify-content: space-between;
  align-items: center;
}

.nav-a {
  color: #00000080;
  font-size: 15px;
}

.active {
  color: var(--orange-color);
  font-weight: 600;
}

.contact-button {
  width: 116px;
  height: 43px;
}

/* agency css */
.dash-h {
  margin-left: 16px;
  font-size: 14px;
  color: #604e14;
  line-height: 150%;
}

.agency-sect {
  margin-bottom: 8px;
}

.container-agency {
  margin: 0 auto 84px auto;
  padding-top: 179px;
  justify-content: space-between;
  align-items: center;
}

.left-block {
  width: 569px;
  max-width: 100%;
}

.right-block {
  width: 591px;
  max-width: 100%;
}

.main-h {
  color: #000000;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
}

.left-block h2 {
  margin-bottom: 16px;
}

.h-color {
  display: block;
  color: var(--orange-color);
}

.agency-p {
  font-size: 16px;
  line-height: 170%;
  color: var(--grey-color);
  margin-bottom: 32px;
}

.agency-get-btn {
  width: 137px;
  height: 43px;
  margin-right: 32px;
  cursor: pointer;
}

.video-btn-wrapper {
  align-items: center;
  cursor: pointer;
}

.play-btn-wrapper {
  height: 40px;
  width: 40px;
  background-image: url("../images/play-button.png");
  background-position: 50% 30%;
  margin-right: 16px;
}

.videos {
  font-size: 16px;
  font-weight: 500;
  color: #686d77b2;
}

.right-block img {
  width: 100%;
}

/* partner css */
.partner-h {
  text-align: center;
  margin-bottom: 43px;
  font-size: 20px;
  color: #1b1a1c99;
}

.partner-container {
  justify-content: space-between;
  margin-bottom: 118px;
}

#about {
  margin-bottom: 16px;
}

.about-h {
  color: var(--orange-color);
}

.about-h-wrapper {
  margin-bottom: 40px;
}

.about-block-wrapper {
  justify-content: space-between;
  margin-bottom: 112px;
}

.about-left-block,
.about-right-block {
  flex-direction: column;
  width: 642px;
}

.about-right-block .first-img {
  margin-bottom: 18px;
}

.about-left-block h3,
.about-right-block h3 {
  margin-top: 32px;
  font-size: 32px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 16px;
}

.about-p {
  font-size: 16px;
  line-height: 180%;
  color: var(--dark-grey);
}

.about-left-block .about-p {
  margin-bottom: 48px;
}

.about-right-block .about-p {
  margin-bottom: 16px;
}

.learn-more {
  color: #000000;
}

.learn-more img {
  margin-left: 8px;
}

/* services css */

.service-wrapper {
  justify-content: space-between;
}

#service {
  margin-bottom: 16px;
}

.left-block-service {
  width: 420px;
  margin-top: 19px;
}

.right-block-service {
  width: 660px;
  justify-content: space-between;
}

.service-h {
  font-size: 46px;
  line-height: 150%;
  letter-spacing: 0.3px;
}

.service-h span {
  color: var(--orange-color);
}

.comm-p-serv {
  line-height: 180%;
  color: var(--grey-color);
}

.p-service {
  margin: 25px 0px;
  font-size: 15.5px;
}

.hr-line {
  width: 100%;
  height: 1.5px;
  background-color: #000000;
  margin-bottom: 25px;
}

.number-wrapper {
  justify-content: space-around;
}

.number {
  text-align: center;
  padding-top: 15px;
  height: 58px;
  font-size: 32px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.3px;
  margin-bottom: 12px;
}

.about-number {
  font-size: 16px;
  color: var(--grey-color);
}


.box {
  width: 314px;
  height: 405px;
  border: none;
  border-top: 3px solid #F1D3A4;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(167, 158, 158, 0.25);
  padding: 66px 25px 0 25px;

}

.sub-left-service .box:first-child,
.sub-right-service .box:first-child {
  margin-bottom: 32px;

}

.h-box {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #000000;
}

.p-box {
  font-size: 15px;

}

.sub-right-service {
  margin-top: 32px;
}

/* clients css */
.clients-cont-wrapper {
  margin-top: 40px;
}

.clients-cont-wrapper h2 {
  margin-top: 16px;
  margin-bottom: 48px;
}

.three-clients-wrapper {
  justify-content: space-between;
}

.client-wrapper {
  width: 373px;
  padding: 57px 34px 57px 29px;
  margin-top: 41px;
  height: 392px;
}

.name-of-client-wrapper {
  flex-direction: column;
  height: 57px;
  align-content: space-between;

}

.profile {
  margin-bottom: 37px;

}

.client-p {
  font-size: 13px;
}

.a-client-p {
  font-size: 16px;
}

.client-p,
.a-client-p {
  text-align: center;

  line-height: 180%;
  color: var(--dark-grey);
}

.client-h {
  font-size: 20px;
}

.a-client-h {
  font-size: 24px;
}

.client-h,
.a-client-h {
  text-align: center;

  font-weight: bold;
  margin-bottom: 32px;

}

.name-of-client {
  font-family: 'Inter';
  font-size: 20px;
  font-style: bold;
  margin-bottom: 9px;
  color: #000000;
  margin-top: 10px;
}

.prof-client {
  font-size: 14px;
  margin-right: 28px;
}

.client-wrapper,
.active-client-wrapper {
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
}

.active-client-wrapper {
  width: 422px;
  padding: 73px 30px 73px 29px;
  height: 444px;
}

.client-img,
.active-client-img {
  border-radius: 50%;
  margin-right: 16px;
}

.active-client-name {
  flex-direction: column;
  margin-top: 15px;
}

.a-client-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.star-wrapper {
  align-items: center;
}

.a-client-profession {
  margin-right: 28px;
}

.active-client-info-wrapper {
  margin-bottom: 39px;
}

.arrow-wrapper {
  justify-content: center;
  margin-top: 48px;
  align-items: center;
  margin-bottom: 124px;
  ;
}

.bullets,
.last-one {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #F1D3A4;
}

.active-bullets {
  background-color: var(--orange-color);
}

.bullets {
  margin-right: 20px;
}

.client-left-arrow {
  margin-right: 114px;
}

.client-right-arrow {
  margin-left: 114px;
}

/* contact css */

.contact-wrapper {
  width: 950px;
  max-width: 100%;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 10px 28px rgba(75, 0, 129, 0.12);
  margin: 0 auto;
  padding: 48px 60px 60px 60px;
  z-index: 10000;
  margin-bottom: 167px;
}

.square-img {
  position: absolute;
  right: -70px;
  top: -70px;
}

.down-square-img {
  position: absolute;
  bottom: -80px;
  left: -70px;

}

.contact-yellow-h {
  text-align: center;
  margin-bottom: 54px;
  font-size: 30px;
  letter-spacing: 5%;
}

.contact-h {
  margin-bottom: 34px;
  font-size: 20px;
  letter-spacing: 5%;

}

.contact-left-block,
.contact-right-block {
  flex-direction: column;
}

.contact-blocks-wrapper {
  justify-content: space-between;
}

.contact-left-block {
  width: 422px;
}

.contact-right-block {
  width: 348px;
}

.name-input {
  margin-bottom: 22px;
}

.input {
  width: 100%;
  border-radius: 4px;
  border: 1.2px solid #B4BEC8;
  padding: 16px;
}

.input::placeholder {
  font-family: 'Inter-regular';
  color: #878787;
  letter-spacing: 2%;
  opacity: 80%;
}

.email-inp {
  margin-bottom: 24px;

}

.text-inp {
  resize: none;
  height: 137px;
  margin-bottom: 40px;
}

.send-btn {
  width: 100%;
  background-color: var(--orange-color);
  border: none;
  border-radius: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  color: var(--white-color);
  font-weight: bold;
}

.icon {
  margin-right: 24px;
}

.icon-p {
  color: #0F001A;
  letter-spacing: 2%;
  line-height: 114%
}

.address {
  margin-bottom: 29px;
}

.mobile {
  margin-bottom: 29px;
}

.email-p {
  margin-bottom: 32px;
}

.icon-wrapper {
  margin-bottom: 33px;
}

.map-wrapper {
  width: 100%;
  height: 155px;
}

/* footer css */
.container-fluid {
  width: 100%;
  background-color: #1E2833;
  padding-top: 60px;
}

.top-wrapper {
  justify-content: space-between;
}

.logo-footer {
  width: 428px;
}

.logo-wrapper {
  font-family: 'Source Sans Pro';
  color: var(--white-color);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}

.logo-wrapper img {
  margin-right: 6px;

}

.footer-p {
  font-family: 'Inter-regular';
  color: var(--white-color);
  line-height: 170%;
}

.footer-h {
  margin-bottom: 40px;
  font-family: 'Inter-regular';
  font-size: 20px;
  color: var(--orange-color);
}

.footer-li {
  font-family: 'Inter-regular';
  color: var(--white-color);

}

.list-wrapper li:not(:last-child) {
  margin-bottom: 24px;
}

.subscribe-h {
  width: 168px;
  margin-bottom: 30px;
  font-family: 'Inter-regular';
  font-size: 22px;
  line-height: 180%;
  color: var(--white-color);
  letter-spacing: -0.3px
}